$primary: #02534d;
$secondary: #f5f5f5;
$card-footer: #e2eeea;
$dropdown-hover: #85b5a6;
$header-text-hover: #b7e154;
$black: #000000;
$progress-bar-color: #ff4d4d;
$progress-bar-bg: #a1aa98;
$form-control-focus-border-color: #007bff;
$invalid-feedback-color: #d9534f;
$signup-link-color: #007bff;
$signup-link-hover-color: #0056b3;
$alert-background-color: #f8d7da;
$alert-color: #721c24;
$focus-shadow-color: #007bff40;
$background-white: #fff;
$background-subtitle: #777;
$background-alert: #f8d7da;
$color-toggle-password: #6c757d;
$color-toggle-password-hover: #495057;
$form-control-border: 1px solid #ddd;
$danger-color: #dc3545;
$progress-bar-bg-color: #e9ecef;
$model-dialog-bg-color: #00000080;
$model-control-border: 1px solid;
$cancel-button-background-color: #f0f0f0;
$cancel-button-text-color: #333;
$cancel-button-hover-background-color: #e0e0e0;
$confirm-button-background-color: #dc3545;
$confirm-button-text-color: #fff;
$confirm-button-hover-background-color: #c82333;
$header-text-color: #333;
$body-text-color: #666;
$modal-content-background-color: #fff;
$modal-box-shadow: 0 2px 10px #0000001a;
$booking-list-bg: #fdfdfd;
$booking-list-hover-bg: #f1f1f1;
$booking-white: #fff;
$booking-black: #000;
$booking-gray-light: #6c757d;
$booking-gray-dark: #333;
$booking-shadow-sm: 0 0.125rem 0.2125rem rgba($booking-black, 0.05);
$booking-shadow-md: 0.2rem 0.2rem 0.2rem 0.2rem rgba($booking-black, 0.1);
$booking-transition-default: 0.4s ease;
