$min-font-size: 0.75rem; // 9px
$extra-small-font-size: 0.875rem; // 14px
$small-font-size: 1rem; // 16px
$medium-font-size: 1.125rem; // 18px
$large-font-size: 2.5rem; // 40px
$login-title-font-size: 1.75rem; // 28px
$login-subtitle-font-size: 1rem; // 16px
$form-group-label-font-size: 1.1rem; // 14px
$form-control-font-size: 1.1rem; // 16px
$invalid-feedback-font-size: 1rem; // 18px
$login-btn-font-size: 1.125rem; // 18px
$header-font-size: 1.5rem;
$booking-font-size-sm: 0.85rem;
$booking-font-size-md: 1rem;
$booking-font-size-lg: 1.1rem;
$booking-font-size-xl: 1.3rem;
$font-weight-bold: 600;
