<header>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto">
                <div class="desktop-menu">
                    <ul>
                        <li [ngClass]="{'active': isActive('home')}" (click)="navigateTo('home')">Home</li>
                        <li [ngClass]="{'active': isActive('booking')}" (click)="navigateTo('booking')">Bookings</li>
                    </ul>
                </div>
            </div>
            <div class="col-auto text-center">
                <div class="logo-container">
                    <img src="assets/images/logo.png" alt="logo" class="logo" (click)="navigateTo('home')">
                </div>
            </div>
            <div class="col-auto">
                <ul class="login-section">
                    <li class="welcome-message">Welcome {{ username }}</li>
                    <li class="logout" (click)="logout()">
                      <i class="bi bi-box-arrow-right"></i>
                      <span class="logout-text">Logout</span>
                    </li>
                  </ul>

              </div>
        </div>
    </div>
</header>
